@media (min-width: 704px) {

    /*WRAPPER*/
    .page {
        min-width: 704px;
    }
    
    html, body {
        margin: 0;
        padding: 0;
    }

    /*NAV*/
    header {
        text-align: center;
        padding-bottom: 2em;
        padding-top: 2em;
    }

    #logo {
        padding: 0;
    }
    
    nav {
        text-align: center;
        padding: 0;
        margin-top: 1em;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li {
        display: inline;
        margin-left: 2em;
        margin-right: 2em;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        padding: 0;
    }
    
    a {
        text-decoration: none;
        padding: 0;
    }

    /*COLLECTIONS MENU*/
    #collections {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    #collections ul {
        list-style-type: none;
        padding: 0;
    }

    #collections ul li {
        margin-bottom: 2px;
    }

    #collections h4 {
        font-weight:bold;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #000;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5em;
    }
    
    /* unvisited link */
    a:link {
        color: #000;
    }
    
    /* visited link */
    a:visited {
        color: #000;
    }
    
    /* mouse over link */
    a:hover {
        color: #737373;
    }
    
    /* selected link */
    a:active {
        color: #858585;
    }
    
    /*PHOTOS*/
    .photocontainer {
        text-align: center;
        min-width: 704px;
    }

    .photocontainer ul {
        list-style-type: none;
        padding: 0;
    }
    
    .photos {
        max-width: 55%;
        height: auto;
        margin-bottom: 2em;
    }

    .nonphoto {
        max-width: 30%;
        height: auto;
    }
    
    .videocontainer {
        text-align: center;
    }

    .videocontainer iframe {
        width: 704px;
        height: 396px;
    }

    .description {
        margin-left: auto;
        margin-right: auto;
        font-family: 'Open Sans', sans-serif;
        max-width: 600px;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .description a:link {
        color: #2929c1;
    }
    
    /* visited link */
    .description a:visited {
        color: #2929c1;
    }
    
    /* mouse over link */
    .description a:hover {
        color: #000;
    }
    
    /* selected link */
    .description a:active {
        color: #858585;
    }

    /*FOOTER*/
    footer {
        text-align: center;
        margin-bottom: 1em;
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
    }
}

@media (max-width: 704px) {

    header {
        text-align: center;
    }

    #logo {
        width: 250px;
        height: auto;
    }
    
    nav {
        width:150px;
        margin: auto;
    }

    ul {
        font-family: 'Open Sans', sans-serif;
        list-style-type: none;
        text-align: center;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
    
    nav ul li {
        border-top-color: #000;
        border-top-width: 1px;
        border-top-style: solid;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    /*COLLECTIONS MENU*/
    #collections {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    #collections ul {
        list-style-type: none;
        padding: 0;
        margin-top: 1em;
    }

    #collections ul li {
        margin-bottom: 2px;
    }

    #collections h4 {
        font-weight:bold;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px dotted #000;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5em;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    a:link {
        color: #000;
    }
    
    a:visited {
        color: #000;
    }
    
    a:hover {
        color: #737373;
    }
    
    a:active {
        color: #858585;
    }

    .photocontainer {
        text-align: center;
        margin-top: 20px;
    }
    
    .photos {
        max-width: 100%;
        height: auto;
        margin-bottom: 1em;
    }

    .nonphoto {
        max-width: 100%;
        height: auto;
        margin-bottom: 1em;
    }
    
    .videocontainer {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .videocontainer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .description {
        font-family: 'Open Sans', sans-serif;
    }

    .description a:link {
        color: #2929c1;
    }
    
    /* visited link */
    .description a:visited {
        color: #2929c1;
    }
    
    /* mouse over link */
    .description a:hover {
        color: #000;
    }
    
    /* selected link */
    .description a:active {
        color: #858585;
    }

    footer {
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 15px;
        padding: 7px;
        margin: 0;
        text-align: center;
    }
}
